body {
  background-color: #000;
}
label {
  color: #CCC;
}
Header{
    color: #B40431;
    font-family: verdana;
    font-size: 300%;
}

Footer{
    color: #269A8A;
    font-family: verdana;
    display: block;
    font-size: 200%;
}
}
